@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.logo{
    font-size: 1.5em;
    color: #fff;
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btnLogin-popup{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.wrapper{
    position: relative;
    width: 300px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 50px;
    transform: scale(0);
    transition: transform .5s ease , height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 400px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-boxlogin{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-boxlogin{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{    
    position: absolute;
    transform: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-boxlogin h2 {
    font-size: 2em;
    color: rgb(255, 0, 0);
    text-align: center;
}
.form-box.register h2 {
    font-size: 2em;
    color: rgb(255, 0, 0);
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(128, 122, 119);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(247, 209, 209);
    font-weight: 500;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}
.remember-forget{
    font-size: .9em;
    color: rgb(128, 122, 119);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color: rgb(128, 122, 119);
    margin-right: 3px;
}
.remember-forget a{
    color: #162938;
    text-decoration: none;
    margin-right: 5px;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: rgb(128, 122, 119);
    text-decoration: none;
    font-weight: 500;
}
.login-register p a:hover{
    text-decoration: underline;
}


.page2{
    background-image: url("https://wpamelia.com/wp-content/uploads/2019/02/6284.jpg");
    font-family: Arial;
    background-size: cover;
    color: red;
    height: 120vh;
    background-attachment: fixed;
}

.flex-box{
    display: flex;
}

.pad{
    padding-left: 231px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: azure;
    text-align: center;
}

.move-icon{
    height: 50px;
}

.btn-container{
    text-align: center;
}

.move-button{
    background-color: transparent;
    border: 3px solid rgb(247, 164, 10);
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result{
    font-weight: bold;
    margin-left: 30px;
    font-size: 30px;
    text-decoration: underline;
    font-family: "Lobster";
}

.score{
    margin-top: 40px;
    margin-left: 30px;
    color: rgb(10, 2, 3);
    font-weight: bold;
}

.moves{
    margin-left: 5px;
    margin-top: 40px;
    color: red;
    font-weight: bold;
}

.reset-score-button{
    background-color: rgb(37, 94, 4);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 30px;
}

.reset-score-button1{
    background-color: rgb(37, 94, 4);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 30px;
}

.card-container{
    background-color: whitesmoke;
    height: 64vh;
    width: 55vh;
    border-radius: 30px;
    margin-right: 10px;
}

.card-container1{
    background-color: whitesmoke;
    height: 64vh;
    width: 55vh;
    border-radius: 30px;
    margin-left: 10px;
}

.arrow-text{
    font-family: Arial;
    color: azure;
    font-size: 30px;
}

.card{
    display: flex;
    background-color: transparent;
}

.arrow-space{
    margin-left: 15vw;
}

.card2{
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.gif-images{
    height: 27vh;
    width: 55vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.gameover-gif-images{
    height: 31vh;
    width: 55vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.insidetext{
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-weight: bold;
    font-family: Monoton;
    font-style: italic;
    text-decoration: underline;
}

.section1-container{
    background-image: url("/8-objects.html/HTML/wallpaper.webp");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-attachment: fixed;
    place-items: center;
    display: flex;
    align-items: center;
}
